<div class="row">
  <% @categories.each do |category| %>
    
    <div class="float">
      <a href=" <%=category_path(category)%>">
        <figure class="article-image-frame">
          <img class="imgborder"  src="<%= Auction.where(category: category).last.picture.thumb %>" />
                   
          <figcaption class="rollover" >
            <%= category.capitalize %>
          </figcaption>
        </figure>
      </a>
    </div>
    
  <% end %>
</div>
