<div class="row">
  <% @categories.each do |category| %>
    
    <div class="col-md-4 category-item">
      <a href=" <%=category_path(category)%>">
        <figure class="article-image-frame">
          <img class="imgborder"  src="<%= auctions_for_category(category).last.picture.thumb %>" />
                   
          <figcaption class="rollover" >
            <%= category.capitalize %>
          </figcaption>
          <div class="next-auction-to-end">
            <!-- category.next_auction_to_end.short_description -->
            The next auction ends in<br> 
            <%=distance_of_time_in_words(auctions_for_category(category).last.end_date, Time.now)%>
          </div>
        </figure>
      </a>
    </div>
    
  <% end %>
</div>

