@import "bootstrap";
@import  "colors";
body{
	background:rgba(255,245,186,0.3);
	font-family: 'Montserrat', sans-serif;
	
}

.navbar-default{
	
	border: 5px solid black;
	background-color: black;
	color: white;
} 



.navbar-default .navbar-brand {
	color: white;
	font-size: 50px;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: black;

}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	color: $my_yellow;
}

.navbar-default .navbar-nav > li > a {
	color: white;

}



.frontpage_gallery{
	background: #fff; 
}

.form-control {
	width: auto;

}

.gallery_item{

	max-width:100%;
}


.article-image-frame {
	position: relative;
	height: 270px;
	margin-top: 10px;
}

.rollover {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;			
	top: 0;
	padding: 5px 10px; 
	color: white;
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.8);
}


.category-item{
	height: 270px;
	overflow: hidden;
	a {
		.next-auction-to-end {
			// display: none;
			font-family: 'Montserrat', sans-serif;
			transition:height 1s;
			webkit-transition:height 1s;
			height: 0px;
			color: rgba(43, 43, 43, .9);

		}	
	}
	a:hover {
		.next-auction-to-end {
			font-family: 'Montserrat', sans-serif;
			display: block;
			height: 100px;
			padding: 10px 15px 20px 15px;
			font-size: 25px;
			color: $my_yellow;
		}		
	}

	.next-auction-to-end {
		font-family: 'Montserrat', sans-serif;
		background: rgba(43, 43, 43, .9);
		position: absolute;
		bottom: 0;
		width: 100%;
		color:#fff;
	}

	
	
}

.imgborder {
	display: block;
	width: 100%;
	height: 100%;


}
