@import "bootstrap";
@import  "colors";
body{
background:$my_white;

}
.frontpage_gallery{
  background: #fff; 
}


.gallery_item{

  max-width:100%;
}


.article-image-frame {
position: relative;
height: 270px
}

.rollover {
 top: 0;
 padding: 5px 10px; 
 color: white;
 z-index:1.0;
 position: absolute;
 width: 100%;
 background: rgba(0,0,0,0.8);
}


.category-item{
	height: 270px;
	overflow: hidden;
	a {
		.next-auction-to-end {
			// display: none;
			transition:height 0.1s;
			webkit-transition:height 0.1s ;
			height: 0px;
			

			}	
		}
	a:hover {
		.next-auction-to-end {
			display: block;
			height: 240px;
			}		
		}

	.next-auction-to-end {
		background: rgba(43, 43, 43, .9);
		position: absolute;
		bottom: 0;
		width: 100%;
		color:#fff;
		}

	
	
}

.imgborder {
  display: block;
  width: 100%;


}
